@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<form method="get">
    <div id="search-container" class="input-group mb-3 w-50 m-auto">
        <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="button-addon2">
        <button class="btn btn-success rounded-2" type="submit" id="button-addon2">Search</button>
    </div>
</form>


@if (Model.Books?.Any() == true)
{
    <div class="card-container">
        @foreach (var book in Model.Books)
        {
           <a href="@Url.Page("/Books/Details", new {id = book.Id})" class="card-link">
                <div class="card">
                    <img src="@book.ImageUrl" alt="Book Cover">
                    <div class="card-content">
                        <h2 class="card-title">@book.Title</h2>
                        <p class="card-details">@book.Genre</p>
                        <p class="card-price">@book.Price.ToString("C")</p>
                    </div>
                </div>
           </a>
        }
    </div>
}
